<h1>Quizzes</h1>

<p>
  <%= link_to 'New Quiz', new_quiz_path %>
</p>

<% quizzes.each do |quiz| %>
  <div id="<%= dom_id(quiz) %>">
    <br>
    <p>
      <%= quiz.title %>
      <%= link_to '🔎', quiz_path(quiz) %>
      <%= link_to '🖋', edit_quiz_path(quiz) %>
      <%= link_to '🗑', quiz_path(quiz), method: :delete %>
    </p>
    <p>
      <%= truncate quiz.description, length: 75, separator: ' ' %>
    </p>
  </div>
<% end %>
