<h1>Quizzes</h1>

<% quizzes.each do |quiz| %>
  <div id="<%= dom_id(quiz) %>">
    <br>
    <p>
      <%= quiz.title %>
      <%= link_to '🔎', quiz_path(quiz) %>
      <% if quiz.creator == current_user %>
        <%= link_to '🖋', edit_quiz_path(quiz) %>
        <%= link_to '🗑', quiz_path(quiz), method: :delete %>
      <% end %>
    </p>

    <p>
      Created by: <%= quiz.creator.email %>
    </p>

    <p>
      <%= truncate quiz.description, length: 75, separator: ' ' %>
    </p>
  </div>
<% end %>
