<h1>Multiple-Choice Questions</h1>

<%= link_to 'New Question', new_quiz_mc_question_path(quiz) %>

<% questions.each do |question| %>
    <div id="<%= dom_id(question) %>">
        <p>
            <%= question.question %>
            <%= link_to '🔎', mc_question_path(question) %>
            <%= link_to '🖋', edit_mc_question_path(question) %>
            <%= link_to '🗑', mc_question_path(question), method: :delete %>
        </p>
        <% choices = [question.answer, question.distractor_1, question.distractor_2] %>
        <% choices.each do |c| %>
            <div>
                <%= radio_button_tag "guess_#{question.id}", c, checked = c == question.answer, disabled: true %>
                <%= label_tag "guess_#{question.id}_#{c}", c %>
            </div>
        <% end %>
    </div>
<% end %>
