<h1>New Quiz</h1>

<%= form_with model: quiz, url: account_quizzes_path, method: :post, local: true, scope: :quiz do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, size: "27x7" %>
  </div>

  <%= form.submit "Add Quiz" %>

<% end %>
