<!DOCTYPE html>
<html>
  <head>
    <title>QuizMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <%= link_to 'QuizMe', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active_class(welcome_path) %>">
            <%= link_to 'Home', welcome_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= active_class(about_path) %>">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item <%= active_class(contact_path) %>">
              <%= link_to 'Contact', contact_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(quizzes_path) %>">
              <%= link_to 'Quizzes', quizzes_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(account_quizzes_path) %>">
              <%= link_to 'My Quizzes', account_quizzes_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item <%= active_class(edit_user_registration_path) %>">
              <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(destroy_user_session_path) %>">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item <%= active_class(new_user_session_path) %>">
              <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(new_user_registration_path) %>">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% flash.each do |key, message| %>
      <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
