<!DOCTYPE html>
<html>
  <head>
    <title>QuizMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Hi, #{current_user.email}", edit_user_registration_path %></li>
        <li><%= link_to 'Quizzes', quizzes_path %></li>
        <li><%= link_to 'My Quizzes', account_quizzes_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>

    <% flash.each do |key, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
